.right_box .main_box{
	padding:0 20px;
}
.youhui-nav{
	height:40px;
	line-height: 40px;
	border-bottom:2px solid #e8e8e8;
}
.youhui-nav a{
	display: block;
	float: left;
	padding:0 15px;
	font-size:14px;
}
.youhui-nav .active{
	border-bottom:2px solid @main_color;
	color:@main_color;
}
.m-youhui-list{
	width:100%;
	overflow: hidden;
}
.m-youhui-list .youhui-list{
	width:810px;
	padding:10px;
	margin-left: -20px;
}
.m-youhui-list .youhui-list li{
	float: left;
	margin: 10px;
	width:248px;
	border:1px solid #ddd;
}
.m-youhui-list .youhui-list .youhui-hd{
	height:130px;
	color:#fff;
	text-align: center;
	position: relative;
	background:#ffbb51 url(../images/youhui/youhui-border.jpg) repeat-x left bottom;
}
.m-youhui-list .youhui-list .disable .youhui-hd{
	background:#c3c3c3 url(../images/youhui/youhui-border-disable.jpg) repeat-x left bottom;
}
.m-youhui-list .youhui-list .youhui-hd .disable-ico{
	position: absolute;
	top: 20px;
	right: 4px;
}
.m-youhui-list .youhui-list .youhui-price{
	font-size:40px;
	font-weight: bold;
	padding-top: 50px;
}
.m-youhui-list .youhui-list .youhui-price span{
	font-size:18px;
	font-weight:normal;
}
.m-youhui-list .youhui-list .youhui-bd{
	height:145px;
	padding:10px 20px;
	position: relative;
}
.m-youhui-list .youhui-list .youhui-bd .youhui-tip{
	color:#999;
	line-height: 20px;
	overflow: hidden;
	margin-bottom: 10px;
}
.m-youhui-list .youhui-list .youhui-bd .youhui-tip span{
	color:#ff5b2f;
}
.m-youhui-list .youhui-list .youhui-bd p span{
	color:#999;
}
.m-youhui-list .youhui-list .youhui-sms{
	color:#f60;
}
.m-youhui-list .youhui-list .youhui-btn-box{
	position: absolute;
	bottom: 0;
	padding:15px 0;
	left: 0;
	right: 0;
	text-align: center;
}
.m-youhui-list .youhui-list .youhui-btn{
	padding:5px 10px;
	margin: 0 5px;
	color:#fff;
	border-radius:3px ;
	background:@main_color;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.m-youhui-list .youhui-list .disable .youhui-btn{
	background: #c3c3c3;
	cursor: default;
}
.m-youhui-list .youhui-list .youhui-btn:hover{
	background:#ff5b2f;
}
.m-youhui-list .youhui-list .disable .youhui-btn:hover{
	background: #c3c3c3;
}
.exchange-block{
	border:1px solid #ddd;
	margin-top: 20px;
}
.exchange-block .exchange-hd{
	line-height: 40px;
	padding:0 20px;
	background:#f2f2f2;
}
.exchange-block .exchange-box{
	padding:20px;
	border-top:1px solid #ddd;
}
.exchange-block .exchange-box .exchange-tit{
	margin-right: 20px;
	line-height: 40px;
}
.exchange-block .exchange-box .ui-textbox{
	height:38px;
	margin-right: 10px;
	padding: 0 10px;
	width:500px;
	background:#fff;
}
.mask{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index:-1;
	background:#000;
	filter:alpha(opacity=0);
	      -moz-opacity:0;
	      -khtml-opacity: 0;
	      opacity: 0;
}
.mask.active{
	filter:alpha(opacity=50);
	      -moz-opacity:0.5;
	      -khtml-opacity: 0.5;
	      opacity: 0.5;
	z-index:100;
}
.shop-box{
	position: fixed;
	z-index:-1;
	background:#fff;
	width:500px;
	height:301px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
	border-radius:3px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.shop-box.active{
	z-index:101;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity:1;
}
.shop-box .shop-box-hd{
	line-height: 40px;
	border-bottom:1px solid #ddd;
	text-align: center;
	font-size:18px;
	font-family:Microsoft Yahei;
	position: relative;
}
.shop-box .shop-box-hd .iconfont{
	width:40px;
	display: block;
	line-height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}
.shop-box .shop-tip{
	line-height: 30px;
	margin-top: 5px;
	padding:0 20px;
}
.shop-box .shop-list{
	padding:0 20px 10px;
	line-height: 20px;
	height:215px;
	overflow-y: auto;
}
.shop-box .shop-list li{
	margin-bottom: 5px;
}
.shop-box .shop-name{
	color:@main_color;
}
.shop-box .shop-address{
	color:#999;
}