.use-search-ico{
	font-size:1.1rem;
	line-height:2.2rem;
	position: relative;
	z-index:20;
}
.m-use-log-list{
	margin-top: .5rem;
}
.use-log-list li{
	background:#fff;
	margin-bottom: .5rem;
}
.use-log-list li a{
	display: block;
}
.use-log-list .log-hd{
	padding:.5rem;
	padding-bottom: 0.3rem;
}
.use-log-list .log-hd .log-info{
	height:1.5rem;
	font-size:@f_size2;
	line-height: 1.5rem;
}
.use-log-list .log-hd .log-info p{
	font-weight:bold;
}
.use-log-list .log-hd .log-info .iconfont{
	display: block;
	font-size:1rem;
}
.use-log-list .log-hd .log-name{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	line-height: 1.4rem;
}
.use-log-list .log-bd{
	padding:0 .5rem;
	height:2.2rem;
	line-height: 2.2rem;
	font-size:@f_size4;
	color:@f_color3;
}
.use-search-bar{
	height:2.2rem;
	width:100%;
	position: absolute;
	right: 0;
	top: 0;
	background:#fff;
	padding:0 .5rem;
	z-index:100;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	-webkit-transform: translateX(100%);
	        transform: translateX(100%);
}
.use-search-bar.open{
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}
.use-search-bar .iconfont{
	font-size:1.1rem;
	line-height: 2.2rem;
}
.use-search-bar .search-bar{
	margin: 0 .5rem;
	padding: 0 .5rem;
	height: 1.4rem;
	background: #eee;
	position: relative;
	width: 50%;
}
.use-search-bar .search-bar input{
	height:1.4rem;
	display: block;
	width:100%;
}