#biz_user_login .content{
	background:#fff;
}
.login-logo{
	width:3.7rem;
	height:3.7rem;
	border-radius:5px;
	margin: 2rem auto 1.6rem;
	overflow: hidden;
}
.login-logo img{
	width:100%;
	height:100%;
}
.login-input-list{
	padding:0 1.25rem;
}
.login-input-list li{
	height:2.5rem;
}
.login-input-list .iconfont{
	font-size:1rem;
	margin-right: .5rem;
	display: block;
}
.login-input-list .input-clear{
	font-size:.8rem;
	margin: 0;
	color:#d8d8d8;
	padding-left: .5rem;
	line-height: 2.5rem;
	display:none;
}
.login-input-list input{
	display: block;
	height:2.5rem;
}
#biz_user_login .login-btn{
	display: block;
	margin: 0 1.25rem ;
	line-height: 2.25rem;
	text-align: center;
	border-radius: 3px;
	font-size: 0.9rem;
	background:@themecolor;
	color:#fff;
	margin-top: 1.25rem;
}
#biz_user_login .find-password{
	font-size:@f_size4;
	color:@f_color3;
	padding:0 1.25rem;
	display: inline-block;
	vertical-align: top;
	margin-top: .5rem;
	line-height: 1rem;
	float: right;
}