#cart .bar-nav .header-title{
    left: 4rem;
    right: 4rem;
}
.list-block .item-inner:after,.list-block ul:after{
    background: transparent!important;
}
.vible{
    visibility: hidden;
}

#cart .m-countBox~.content {
    bottom: 2.5rem;
}
/*头部开始*/
#cart .bar .title{
    font-size: @f_size2;
}
.u-edit_all{
     font-size: @f_size3!important;
     color: @f_color3;
    line-height: 2.25rem;
    position: relative;
    z-index: 99999;
}
.share-icon{
    font-size: 1.1rem;
    line-height: 2.2rem;
    position: relative;
    z-index: 99999;
}
.bar .button-link .iconfont{
    font-size: 1.1rem;
}
/*头部结束*/


/*购物车为空*/
.warmMess{
    width: 100%;
    background: #FFFFFF;
    text-align: center;
    padding: 0.4rem 0;
    color: @f_color3;
    font-size: @f_size3;
}
.warmMess i.iconfont{
    font-size:  1.4rem;
    margin-right: 0.2rem;
    vertical-align: middle;
}
.warmMess a.visit{
    font-size:  @f_size5;
    color: @f_color1;
    padding: 0.05rem 0.3rem;
    border: 1px solid @themecolor;
    border-radius: 0.2rem;
    margin-left: 0.2rem;
}

.m-promote {
    position: relative;
    line-height: 2.25rem;
    text-align: center;
    margin: 0 .5rem;
}
.m-promote .promote-tit {
    position: relative;
    background: #f3f6f5;
    padding: 0 .5rem;
    z-index: 2;
}
.promote-icon {
    display: inline-block;
    width: .75rem;
    height: .75rem;
    background: url("@url/static/tuijian.png") center center no-repeat;
    background-size: cover;
    vertical-align: -.15rem;
    margin-right: .25rem;
}
.m-promote:after {
    content: " ";
    display: block;
    position: absolute;
    top: 1.05rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e0e0e0;
}

/*列表开始提示语开始*/
.u-prompt{
    width: 100%;
    height: 1.85rem;
    background: #fffbeb;
    padding: 0 @rowspacing;
    font-size: @f_size3;
    line-height: 1.85rem;
    color: @f_color2;
}
.u-prompt span.iconfont{
    color: @f_colortheme;
    vertical-align: middle;
    font-size: @f_size1;
    margin-right: 0.3rem;
}
/*列表开始提示语结束*/

/*购物车列表开始*/



.list-block .item-media+.item-inner {
    margin-left: .5rem;
}
.list-block ul:before{
    background: transparent;
}
.list-block .item-content {
    padding-left: 0rem;
}


/*列表开始*/


.m-cart{
    margin-top: 0!important;
}



.m-conBox{
    background: #ffffff;
    margin-bottom: @rowspacing;
}



/*外层列表头部*/
.m-conBox .m-title{
    height: 2.25rem;
    line-height: 2.25rem;
    padding-left: 0.5rem;
    background: #ffffff;
}

.m-conBox .m-title .u-shop-icon{
    margin-right: 0.15rem;

}
.m-conBox .m-title  .u-icon{
    color: @f_color3;
    font-size: 0.8rem;
    vertical-align: middle;
}
.m-title .item-inner{
    margin-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}
.m-title .get-youhui{
    color:@f_color3;
    padding-right:.25rem ;
    height:1rem;
    line-height: 1rem;
}
.m-title .u-edit-child{
    font-size: @f_size3;
    color: @f_color3;
    max-height: 2.25rem;
}
.m-title .item-title{
    font-size: @f_size3;
    color: @f_color1;
}
/*外层列表头部*/

/*内层列表开始*/

.m-cart-list li .item-inner{
    -webkit-align-items: initial;
    align-items: initial;
}

.m-cart-list{
    margin-left: 0.5rem!important;
}
.m-cart-list .item-inner{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
}
.list-block .item-media{
    padding-top: 0;
    padding-bottom: 0;
}

.m-cart-list li .shopImg{
    width: 3.4rem;
    height: 3.4rem;
    position: relative;
    overflow: hidden;
    border: 1px solid #e6e5e9;
    border-radius: 2px;
    padding: 2px;
    background: #ffffff;
}
.shopImg img{
    display: block;
    width: 100%;
    height: 100%;
}
.shopImg span.u-cut{
    display: block;
    width: 1.35rem;
    height: 0.7rem;
    background:@themecolor url("@url/static/u_cur.png") no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
    line-height: 0.7rem;
    text-align: center;
    position: absolute;
    top: 0rem;
    left: 0.2rem;
}
.shopImg p.u-surplus{
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    font-size: @f_size5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.z-opera{
    width: 100%;
    position: absolute;
    left: 0rem;
    padding-left: 3.4rem;
    top: 0rem;
}
.z-opera-sure{
    top: 0.6rem;
}

.z-opera .shopTi{
    display: inline-block;
    margin: 0 0 0 0.45rem;
    max-width: 64%;
}
.z-opera-edit{
    width: 100%;
    display: none;
}
.z-opera-edit.active{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.m-cart-list  .shopTi a{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    position: relative;
    white-space: normal;
    min-height: 0.9rem;
    max-height: 1.8rem;
    font-size: @f_size3;
    color: @f_color1;
    line-height: @lineheight3;
    max-width: 100%;
    text-overflow: ellipsis;
}
.m-cart-list .shopTi p.sizes{
    font-size: 0.6rem;
    color: @f_color3;
    line-height: 1rem;
}

.shop_price{
    min-width: 3.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0;
}
.shop_price p.u-sm-price{
    color: @f_colortheme;
    line-height: 0.9rem;
}

.shop_price p.u-sm-price span{
    font-size: @f_size5;
}
.shop_price p.u-sm-price span i{
    font-size: @f_size2;
}
.shop_price p.u-count{
    vertical-align: bottom;
    font-size: 0.5rem;
}
.shop_price p.u-count i{
    font-size: @f_size3;
}


.m-cart-list .z-edit{
    margin:0 0.75rem;
    overflow: hidden;
}
.m-num-box{
    width: 100%;
    height: 1.5rem;
    vertical-align: middle;
}
.m-size-box{
    width: 100%;
    height: 1.5rem;
    line-height: 1.4rem;
    margin-top: 0.4rem;
    border: 0.05rem solid @bordercolor ;
    border-radius: 0.15rem;
    box-sizing: border-box;
    font-size: 0;
    position: relative;
}
.m-size-box span.sizes{
    display: inline-block;
    width: 80%;
    font-size: @f_size4;
    color: @f_color1;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    padding-left: 0.35rem;
}
.m-size-box i{
    position: absolute;
    top: 0;
    right: 0.2rem;
    font-size: 0.8rem;
}
.m-num-box .u-btn{
    display: block;
    width: 1.6rem!important;
    height: 1.5rem;
    border-radius: 0.1rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: @f_size1;
}
.m-num-box .u-reduce{
    background: #fbfbfb;
    color: #dfdfdf;
}
.m-num-box .u-add{
    background: #f5f5f5;
    color: #999999;
}
.m-num-box input.u-txt{
    width: 70%;
    display: block;
    background: #f5f5f5;
    height: 1.5rem;
    margin: 0 0.1rem;
    text-align: center;
    font-size: 0.7rem;
    color: @f_color1;
}
.u-delete{
    width: 2.35rem;
    height: 4.6rem;
    background: @themecolor;
    color: #fff;
    /*position: absolute;
    right: -0.5rem;
    top: -0.6rem;*/
    line-height: 4.6rem;
    text-align: center;
    font-size: @f_size4;
    z-index: 8;
}

.u-delete_z{
    width: 2.35rem;
    height: 4.6rem;
    background: @themecolor;
    color: #fff;
    position: absolute;
    right: -1rem;
    top: -0rem;
    line-height: 4.6rem;
    text-align: center;
    font-size: @f_size4;
    z-index: 8;
}

/*购物车列表结束*/


.bar .pull-left .icon{
    line-height: 2.2rem!important;
}


/*失效商品开始*/

.m-invalid .m-title{
    margin-left: 0rem;
}
.m-invalid .m-title .item-inner:after{
    margin-left: 0rem;
    padding-left: 0.5rem;

}
.solute{
    position: absolute;
    width: 75%;
    overflow: hidden;
    left: 3.4rem;
}
.m-invalid .shopTi{
    margin: 0 0.5rem 0 0.45rem;
}
.u-inval{
    display: block;
    width: 1.52rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: #f3f6f5;
    position: absolute;
    top: 50%;
    left: -0.5rem;
    margin-top: -0.48rem;
    font-size: @f_size5;
    z-index: 9;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: @f_color3;
}
.m-invalid .shopTi a{
    color: @f_color3;
    font-size: @f_size3;
    width: auto;
}
.m-invalid  .shopTi p.z-inval{
    font-size: @f_size4;
    color: @f_color1;
    line-height: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.m-invalid label.label-checkbox i.icon-form-checkbox{
    width: 1rem;
    height: 0.8rem;
}
.m-invalid .item-content{
    padding-left: 0rem!important;
}
.m-invalid .item-content .item-inner {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
/*失效商品结束*/


/*结算开始*/
.m-countBox{
    height: 2.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    z-index: 9;
    line-height: 2.5rem;
}
.m-countBox .list-block{
    margin: 0;
}
.m-countBox .list-block .item-media{
    padding-top: 0;
    padding-bottom: 0;
}
.m-countBox  .list-block .item-inner{
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0.2rem;
    font-size: @f_size4;
    color: @f_color3;
}
.u-pr{
    position: absolute;
    height: 2.5rem;
    top: 0;
    right: 0;
}
.z-state{
    display: block;
    width: 5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    background: url("@url/static/now-buy-bg.png")no-repeat;
    text-align: center;
    line-height: 2.5rem;
    color: #FFFFFF!important;
    font-size: @f_size3;
}
.del-order{
    display: none;
}
.u-pr .allCount{
    margin-right: 5.5rem;
    float: right;
    text-align: right;
    line-height: 1rem;
    margin-top: 0.5rem;
}



p.u-lg-price{
    font-size: @f_size3;
    color: @f_color1;
    line-height: 0.7rem;
}
p.u-lg-price span.u-money{
    font-size: @f_size3;
    color: @f_colortheme;
}
p.u-lg-price span.u-money i{
    font-size: @f_sizebig;
     margin-left: 0.1rem;
}
p.u-lg-count{
    font-size: @f_size4;
    color: @f_color3;
    line-height: 0.6rem;
    margin-top: 0.25rem;
}
/*结算结束*/




/*确认订单开始*/
.m-check-paybox{
    width: 100%;
    height: 100%;
}
.m-check-paybox p.u-lg-price{
    line-height: 2.5rem;
    float: right;
    text-align: right;
    margin-right: 5.5rem;
}
.m-check-order .m-title .item-inner{
    margin-left: 0;
}
.m-check-order .m-cart-list .item-inner{
    margin-left: 0;
}
.m-order-common{
    margin-top: 0;
    margin-bottom: 0.5rem;
    background: #FFFFFF;
}
.m-order-common .item-inner,.m-order-common.media-list .item-inner{
    padding-top: 0;
    padding-right: 2.5rem;
    padding-bottom: 0;
}
.m-order-common .item-inner{
    margin-left: 0.5rem;

}
.m-order-common .user-name{
    font-size: @f_size3;
    line-height: 0.75rem;
    color: @f_color1;
    padding-top: 0.7rem;
    padding-bottom: 0.50rem;
    font-weight: 500;
}
.m-order-common .user-name span.u-phoneNum{
    margin-left: 0.5rem;
}
.m-order-common .user-address{
    height: auto;
    padding-bottom: 0.5rem;
    font-size: @f_size3;
    color: @f_color3;
    line-height: 0.85rem;
    font-weight: 500;
}
.m-conBox .item-inner{
    padding-right: 0.5rem;
    font-size: @f_size3;
    color: @f_color1;
}
.m-logist .item-media+.item-inner,.m-oreder-derail .item-media+.item-inner{
    margin-left: 0;
}
.m-logist .item-content,.m-oreder-derail li{
    margin-left: 0.5rem;
}
.m-oreder-derail li .item-inner .item-title,.m-oreder-derail li .item-inner .item-after{
    font-size: @f_size3;
    color: @f_color1;
}
span.expore{
    margin-left: 0.4rem;
}
span.expore i{
    margin: 0 0.1rem;
}
.m-conBox .item-inner input[type=text]{
    padding-left: 0;
    font-size: @f_size4;
}

.list-block .item-link .item-inner{
    background-position: calc(100% - .25rem) center;
}
i.u-symbol{
    margin: 0 0.15rem;
}
span.benefit-all{
    margin-left: 0.75rem;
}
/*确认订单结束*/


/*付款成功页开始*/
.m-order-state{
    height: 5.125rem;
    position: relative;
    background: url("@url/static/order_suc_bg.jpg")no-repeat;
    background-size: cover;
}
.m-order-state .u-order-state-font{
    font-size: 0.9rem;
    color: #FFFFFF;
    line-height: 5.125rem;
    font-family: "Microsoft YaHei";
    text-indent: 0.9rem;
}
.m-order-state .u-order-state-img{
    width: 7.15rem;
    height: 5.125rem;
    position: absolute;
    top: 0;
    right: 0;
}
.u-order-state-img img{
    display: block;
    width: 100%;
    height: 100%;
}

.u-order-ident{
    margin-left: 0.5rem;
    height: 2.2rem;
    max-height: 2.2rem;
    overflow: hidden;
}
.u-order-ident .item-title{
    font-size: @f_size3;
    color: @f_color1;
}
.order-replay{
    margin-left: 0.5rem;
}
.order-replay .item-inner{
    line-height: 2.2rem;
    display: flex!important;
    margin-left: 0;
    padding-right: 0.5rem!important;
}
.order-replay .item-inner .item-title{
    font-size: @f_size3;
    color: @f_color1;
    float: left;
}
.order-replay .item-inner .item-after{
    font-size: @f_size4;
    color: @f_color3;
    float: right;
    max-height: 2.2rem;
}
.order-replay .item-inner .item-after i.iconfont{
    font-size: @f_size3;
    margin-right: 0.2rem;
    vertical-align: middle;
    color: @f_color3;
}

.pay-btn-box{
    margin-top: 0.76rem;
    margin-bottom: 0;
}
.pay-btn-box .item-inner{
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
}
.pay-btn-box .item-inner .payBtn{
    width: 48%;
    height: 2.3rem;
    border: none;
    color: #FFFFFF;
    line-height: 2.3rem;
    font-size: @f_size3;
}
.pay-btn-box .item-inner .u-look-order{
    background: #ff2343;
}
.pay-btn-box .item-inner .u-look-shop{
    background: #ff7800;
}


.j-moreThan{
    display: none;
}
.loadMore{
    width: 100%;
    height: 2rem;
    background: #FFFFFF;
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
    display: none;
}
.loadMore i.down_btn{
    display: none;
}




/*二维码弹出层开始*/
.codeShowBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 14;
    display: none;
    opacity: 0;
    transition:all 0.2s
}
.codeShow{
    display: block;
    opacity: 1;
}
.blackBox{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s;
    top: 0;
    left: 0;
}
.codeShow .blackBox-i{
    opacity: 0.7;
}
.codeImgBox{
    width: 10rem;
    height: 10rem;
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1,1) translateZ(0);
    transform: translate(-50%,-50%) scale(1,1) translateZ(0);
    text-align: center;
    border-radius: 0.2rem;
}
.trans{
    animation: scale 0.2s;
}

.transi{
    animation: scales 0.2s;
}

@keyframes scale {
    0%{
        -webkit-transform: translate(-50%,-50%) scale(0.1,0.1);
        transform: translate(-50%,-50%) scale(0.1,0.1);
    }
    100%{
        -webkit-transform: translate(-50%,-50%) scale(1,1);
        transform: translate(-50%,-50%) scale(1,1);
    }
}
@-webkit-keyframes scale {
    0%{
        -webkit-transform: translate(-50%,-50%) scale(0.1,0.1);
        transform: translate(-50%,-50%) scale(0.1,0.1);
    }
    100%{
        -webkit-transform: translate(-50%,-50%) scale(1,1);
        transform: translate(-50%,-50%) scale(1,1);
    }
}
@keyframes scales {
    0%{
        -webkit-transform: translate(-50%,-50%) scale(1,1);
        transform: translate(-50%,-50%) scale(1,1);
    }
    100%{
        -webkit-transform: translate(-50%,-50%) scale(0.1,0.1);
        transform: translate(-50%,-50%) scale(0.1,0.1);
    }
}
@-webkit-keyframes scales {
    0%{
        -webkit-transform: translate(-50%,-50%) scale(1,1);
        transform: translate(-50%,-50%) scale(1,1);
    }
    100%{
        -webkit-transform: translate(-50%,-50%) scale(0.1,0.1);
        transform: translate(-50%,-50%) scale(0.1,0.1);
    }
}
.codeImgBox .codeName{
    font-size: @f_size2;
    padding-top: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.codeImgBox img{
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    margin-top: 0.2rem;
}
/*二维码弹出层结束*/
/*付款成功页结束*/




/*pupopbox*/
.u-common-box{
    height: 2.25rem;
    background: #FFFFFF;
}
.popup-box{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;

}
.pup-box-bg{
    width: 100%;
    height: 100%;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.m-trans-way{
    width: 100%;
    margin: 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
}


.m-trans-way .item-inner{
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
}
.m-trans-way .m-tv-list{
    max-height: 10.8rem;
    overflow: scroll;
}
.m-trans-way p.u-ti{
    width: 100%;
    font-size: @f_size3;
    color: @f_color1;
}
.m-trans-way .pay-way-name{
    font-size: @f_size3;
    color: @f_color1;
}
.trans-way-bg{
    background: #f1f1f1;
}
.t-line-white{
    position: relative;
}
.t-line-white::after{
    content: '';
    width: 100%;
    height:1px;
    background: #ddd;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin:0 100%;
    transform-origin: 0 100%;
    z-index:5
}
.popup-box label.label-checkbox i.icon-form-checkbox{
    border: 1px solid #999!important;
}
.popup-box label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox{
    border: 1px solid #ff2244!important;
}

label.label-checkbox:active,label.label-checkbox.active-state {
     background-color: transparent!important;
}
.invalid{background:#ccc !important;}
.coupon{//display:none;}

#cart .j-select-body li{
    background: #ffffff;
    padding-left: 0rem!important;

}
#cart .j-select-body li .item-inner{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

label.trans-way-bg:active,label.trans-way-bg.active-state {
    background-color: #f1f1f1!important;
}
.item-tip{
	padding: 0 0.5rem 0.5rem 0;
    font-size: .65rem;
    color: #999;
	text-align:right;
}

.cart-youhui-box{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:#fff;
    z-index:11;
    -webkit-transition: all .25s ease;
            transition: all .25s ease;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
}
.cart-youhui-box.active{
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.cart-youhui-box .shop-name{
    line-height: 2rem;
    text-align: center;
    margin: 0 .5rem;
}
.cart-youhui-box .youhui-wrap{
    max-height:11.1rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.cart-youhui-box .youhui-item{
    margin: 0 .5rem;
    padding:.25rem 0;
    line-height: 1rem;
}
.cart-youhui-box .youhui-item:last-child::after{
    height:0;
}
.cart-youhui-box .youhui-info{
    width:50%;
}
.cart-youhui-box .youhui-price{
    line-height: 1.2rem;
    font-size:@f_size2;
    color:@f_colortheme;
}
.cart-youhui-box .youhui-tip{
    font-size:@f_size4;
}
.cart-youhui-box .youhui-time{
    font-size:@f_size5;
    color:@f_color3;
}
.cart-youhui-box .youhui-btn{
    width:3rem;
    border:1px solid @themecolor;
    color:@themecolor;
    text-align: center;
    line-height: 1.2rem;
    border-radius:3px;
}