#help_detail .content{
	top:2.7rem;
	background:#fff;
}
.help-hd{
	height:2rem;
	margin-left: .5rem;
}
.help-hd .iconfont{
	color:@themecolor;
	margin-right: .25rem;
	font-size:1rem;
}
.help-hd .help-tit{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-right: .5rem;
}
.help-content{
	position: absolute;
	top: 2rem;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	padding:.5rem;
}
.help-content img{
	max-width:100%;
	display: block;
	margin: 0 auto;
}