.mall-hd{
	height: 5.2rem;
	position: relative;
	padding: 0 .5rem;
	background:-webkit-linear-gradient(-45deg, #ff795c, #ff4763);
	background:linear-gradient(-45deg, #ff795c, #ff4763);
	-webkit-box-pack: center;
	-webkit-justify-content:center;
	justify-content:center;
}
.mall-hd .user-avatar{
	width:3rem;
	height:3rem;
	border-radius: 1.5rem;
	overflow: hidden;
}
.mall-hd .user-avatar img{
	width: 100%;
}
.mall-hd .user-name{
	text-align: center;
	color:#fff;
	margin-top: .2rem;
}
.mall-tab{
	height: 2.5rem;
	margin-bottom: .25rem;
	line-height: 1rem;
	background: #fff;
}
.mall-tab a{
	display: block;
	text-align: center;
}
.mall-tab .active{
	color:@f_colortheme;
}