@CHARSET "UTF-8";
.content{
	top: 90px;
	background:#fff;
}
.user-info{
	margin: 20px;
	padding:20px;
	background:#f7f7f7;
}
.info_table{
	width:518px;
	margin: 0 auto;
}
.ph_verify_btn{
	height:36px;
	line-height: 36px;
	width:100px;
	margin-left: 5px;
}
.verify{
	margin-top: 7px;
	margin-left: 5px;
}
.refresh_verify{
	line-height: 36px;
	margin-left: 5px;
}